html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.disabled {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*
.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}

.dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
}*/

[data-tooltip] {
    --tooltip-translate-y: 0%;
    --tooltip-opacity: 0;
    --tooltip-transition: all 0.25s ease-in-out;
    --tooltip-scale: 0;
    position: relative;
}

[data-tooltip]::before,
[data-tooltip]::after {
    position: absolute;
    pointer-events: none;
    left: 50%;
    transform: translateX(-50%) translateY(var(--tooltip-translate-y)) scale(var(--tooltip-scale));
    opacity: var(--tooltip-opacity);
    background-color: #000;
    transition: var(--tooltip-transition);
}

[data-tooltip]::before {
    clip-path: polygon(50% 100%, 100% 0%, 0% 0%);
    top: -0.25em;
    width: 1em;
    height: 1em;
    content: "";
    z-index: 11;
}

[data-tooltip]::after {
    border: 1px #fff solid;
    border-radius: 0.25rem;
    top: -1.25em;
    width: max-content;
    max-width: max(150%, 4rem);
    padding: 1em;
    content: attr(data-tooltip);
    color: #fff;
    font-size: 0.75rem;
    text-align: center;
    z-index: 10;
}

[data-tooltip]:hover,
[data-tooltip]:active,
[data-tooltip]:active:focus {
    --tooltip-translate-y: -100%;
    --tooltip-opacity: 1;
    --tooltip-scale: 1;
}

/* Country and city lists */

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(160px, 100%), 1fr));
    grid-auto-rows: 1fr;
    gap: 1rem;
}

img.flag {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img.city {
    filter: invert(42%) sepia(93%) saturate(100%) hue-rotate(160deg) brightness(120%) contrast(100%);
}

.card {
    position: relative;
    background-color: #000;
}

.card:hover {
    animation: hover 0.4s forwards;
}

@keyframes hover {
    0%      { transform: scale(1.0) rotate(0deg); }
    50%     { transform: scale(1.1) rotate(0deg); } 
    100%    { transform: scale(1.1) rotate(360deg); }
}

.city-card {
    height: 100px;
    background-color: #ccf;
}

.card:hover > img,
.card:active > img,
.card:active:focus > img {
    opacity: 0.5;
}

.card a {
    color: #000;
}

.card a:hover,
.card a:active,
.card a:active:focus {
    color: var(--bs-primary);
}

.card-body {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: -1px -1px 0 #ddd, 1px -1px 0 #ddd, -1px 1px 0 #ddd, 1px 1px 0 #ddd;
}

.card-body img {
    width: 24px;
    height: 24px;
}

.card-text {
    text-align: center;
}

/* Friend list */

.list-bar {
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    background-color: #fff;
    padding: 6px 12px;
    flex-grow: 1;
}

.list-bar * {
    border: none;
    background: none;
    height: 24px;
}

.list-bar input[type=text] {
    width: 100%;
}

.friend-list {
    display: grid;
    grid-template-columns: 4fr 4fr 3fr 1fr;
    grid-template-rows: 1fr;
    gap: 0.5rem 0.25em;
}

.friend-list > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em;
}

.friend-list__header {
    background-color: darkorchid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    font-weight: 600;
    color: #fff;
    fill: #fff;
}

.friend-list__header.first {
    border-start-start-radius: 1rem;
}

.friend-list__header.last {
    border-start-end-radius: 1rem;
}

.friend-list__row-odd {
    background-color: orchid;
    color: #000;
}

.friend-list__row-even {
    background-color: mediumorchid;
    color: #000;
}

.friend-list__column.first {
    border-start-start-radius: 1rem;
    border-end-start-radius: 1rem;
}

.friend-list__column.last {
    align-items: center;
    border-end-end-radius: 1rem;
    border-start-end-radius: 1rem;
}

.friend-list .btn-svg {
    display: block;
}

.btn-svg {
    position: relative;
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    background: none;
    transition: transform 0.2s ease-in-out;
}

.btn-svg:hover,
.btn-svg:active,
.brn-svg:active:focus {
    transform: scale(1.25);
    transition: transform 0.2s ease-in-out;
    z-index: 6;
}

.btn-svg svg {
    position: absolute;
    width: 24px;
    height: 24px;
    inset: 0;
}

.svg-add:hover,
.svg-add:active,
.svg-add:active:focus {
    fill: limegreen;
}

.svg-view:hover,
.svg-view:active,
.svg-view:active:focus {
    fill: #6cb1ff;
}

.svg-edit:hover,
.svg-edit:active,
.svg-edit:active:focus {
    fill: yellow;
}

.svg-delete:hover,
.svg-delete:active,
.svg-delete:active:focus {
    fill: red;
}
